{
  "semi": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "singleQuote": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 300,
  "useTabs": false,
  "bracketSpacing": true
}
